body{
  background-image: url('/img/maze.png');
}

#inputDiv{
  height: 100px;
  width: 400px;
  margin: auto;
  background-color: #CCC;
  border: 1px solid black;
  text-align: center;
}
#errorDiv{
  display: none;
  width: 400px;
  margin: auto;
  color: red;
}
#taskDiv{
  width: 400px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;

}
#taskPane{
  border: 1px dashed black;
  background-color: #9FF8D4;
}

#completedDiv{
  display: none;
  width: 400px;
  margin: 0 auto;
  border: 2px solid gray;
  background-color: black;
  opacity: .5;
}
#completedDiv > #taskPane{
  text-decoration: line-through;
  background-color:gray;
}
